In [3]:
import pandas as pd

In [4]:
left=pd.DataFrame({'A' : [1,2,4], 'B' : [1, 2,3]})

In [5]:
right=pd.DataFrame({'B' : [2,1], 'c' : [3,4]})

In [6]:
merge= pd.merge(right, left , on='B',how='outer' )

In [7]:
merge

   B    c  A
0  2  3.0  2
1  1  4.0  1
2  3  NaN  4

In [9]:
merge.isnull().sum()

B    0
c    1
A    0
dtype: int64

In [10]:
merge.dropna()

   B    c  A
0  2  3.0  2
1  1  4.0  1

In [1]:
merge_train2=pd.merge(merge_train1,building_structure, on='building_id',how='outer')

NameError: name 'pd' is not defined